/* ---------------------- BODY -------------------------- */

body {
	background:#1E1E42;
	height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#1E1E42, #1E1E42);
    padding-top: 65px;
    
}

html {
	min-height: 100%;
	position: relative;
	margin: 0;
}

/* ---------------------- COLORS -------------------------- */

.bg-primary {
	background: #E40571!important;
}
.bg-secondary {
	background: #c3d9e0!important;
}
.bg-success {
	background: #9B8F5D!important;
}
.bg-danger {
	background: #D72E3D!important;
}
.bg-warning {
	background: #ffce00!important;
}
.bg-info {
	background: #7997AD!important;
}
.bg-light {
	background:	#BBD4DC!important;
}
.bg-dark {
	background:	#1F2026!important;
}
.bg-white {
	background:	#ffffff!important;
}
.bg-grey {
	background: #32343C!important;
}



.text-primary {
	color: #E40571!important;
}
.text-secondary	{
	color: #c3d9e0!important;
}
.text-success {
	color: #9B8F5D!important;
}
.text-danger {
	color: #D72E3D!important;
}
.text-warning {
	color: #ffce00!important;
}
.text-info {
	color: #7997AD!important;
}
.text-light {
	color: #ffffff!important;
}
.text-dark {
	color: #333333!important;
}
.text-muted {
	color: #E8EEF1!important;
}
.text-white {
	color: #ffffff!important;
}


/* ----------------------- BUTTONS ------------------------- */
.btn {
	border-radius: 0px;
	border: #E40571;
}

.btn:hover {
  filter: brightness(85%);
}

.btn-primary {
	background: #E40571!important;
}
.btn-secondary {
	background: #c3d9e0!important;
}
.btn-success {
	background: #9B8F5D!important;
}
.btn-danger {
	background: #D72E3D!important;
}
.btn-warning {
	background: #ffce00!important;
}
.btn-info {
	background: #7997AD!important;
}
.btn-light {
	background:	#BBD4DC!important;
}
.btn-dark {
	background:	#1F2026!important;
}
.btn-white {
	background:	#ffffff!important;
}
.btn-grey {
	background: #32343C!important;
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active   {
	color:#E40571!important;
}

/* ---------------------- FONTS -------------------------- */

p	{ 
	font-family: "soleil",sans-serif;
	font-weight: 300;
}

a { 
	font-family: "soleil",sans-serif;
	font-weight: 300;
}

h1	{
  	font-family: "soleil",sans-serif;
  	font-weight: 600;
  	font-size:36px;
}

h2	{
  	font-family: "soleil",sans-serif;
  	font-weight: 600;
  	font-size:28px;
}

h3	{
  	font-family: "soleil",sans-serif;
  	font-weight: 300;
  	font-size:22px;
}

h4	{
  	font-family: "soleil",sans-serif;
  	font-weight: 300;
  	font-size:18px;
}

h5	{
  	font-family: "soleil",sans-serif;
  	font-weight: 300;
  	font-size:14px;
}





/* ---------------------- STRUCTURE --------------------------- */

section { 
	display: block;
}

/* ---------------------- FRONTPAGE --------------------------- */

section { 
	display: block;
}

/* ---------------------- NAVBAR --------------------------- */
.nav-item {
	margin-right:15px;
}

.nav-item.active a.nav-link {
	color: #d12368!important;
}

.btn-navbar {
  display: block;
  background-color: #d12368;
  color: #fff;
  padding: 0px 20px 0px 20px;
}

.btn-navbar:hover {
  background-color: #ff0065;
  color: #fff;
}

.btn-navbar:active {
  background-color: #ff4e94;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* ---------------------- TABS --------------------------- */

.nav-tabs {
    border: 0px;
}

a.nav-item {
	
	text-decoration: none;
}

a.nav-item.nav-link { 
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #c3d9e0;
	text-decoration: none;
}

a.nav-item.nav-link:hover { 
	border: 1px solid #c3d9e0;
	border-bottom: 1px solid transparent;
	background: #c3d9e0;
	color:#495057;
	text-decoration: 0px;
	

}

a.nav-item.nav-link.active { 
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}


/* ---------------------- JUMBOTRON --------------------------- */
.jumbotron { 
	background: url("images/pattern_jumbotron.svg") no-repeat right bottom #1F2026!important;
	background-size: 48%!important;
	margin-bottom: 0px;
}

.lead {
	line-height: 1.2em;
}


/* ---------------------- FEATURES --------------------------- */


.features-icon {
	display: inline-block;
}

.features-txt {
	display: inline-block;
}

.features-link {
	text-decoration: none;
}

a.features-link:hover {
	color: #c3d9e0!important;
	text-decoration: none;
}


/* ---------------------- PRICE --------------------------- */

.slider-handle.round {
    border-radius: 0;
}

.slider-handle {
	border: solid 3px #E40571;
    background: #E269A8;
    top: -3px;
}

.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}

.slider.slider-horizontal .slider-track {
    height: 5px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
    border-radius: 0px;
    background: #1F2026;
}

.slider-selection {
	background: #E40571;
    border-radius: 0px;
}    


#price-number {
	font-size: 55px;
}

.price-form-wrapper {
	display: block;
}

/* ---------------------- FOOTER --------------------------- */

#footer {
	display: block;
	width: 100%;
	height:auto;
	overflow: visible;
	background: #ffffff;	
}

ol.footer-list li {
	list-style: none;
}


/* ---------------------- LOGIN FORM -------------------------- */

.card-container.card {
    max-width: 450px;
    padding: 40px 40px;
}

.btn-navbar {
	background: #E40571;
    font-weight: 300;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    color:#fff;
    opacity: 1;
}



/*
 * Card component
 */
.card {
    background-color: #FFFFFF;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 10%;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.profile-img-card {
	width: 75%;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 20px;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-signin input[type=email] {
	background:url(images/envelope-closed.svg) no-repeat scroll 11px 13px; 
	background-repeat: no-repeat; 
	background-size: 17px 17px;
	background-color: #fff;
	margin-bottom:10px;
}

.form-signin input[type=password] {
	background:url(images/lock-locked.svg) no-repeat scroll 11px 13px; 
	background-repeat: no-repeat; 
	background-size: 17px 17px;
	background-color: #fff;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-radius:0px;
}

.customCheckbox {
  float: left;
  position: relative;  
  width: 20px;
  height: 20px;
  background: #E40571;
  border-radius: 2px;
  border: 1px solid #d2d2d2;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  overflow: hidden;
}

.customCheckbox.customCheckboxChecked {
  background: #E40571;
  border: 1px solid #60ACCC;
}

.customCheckbox input {
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.customCheckbox span {
  display: none;
  text-align: center;
  line-height: 20px;
  font-size: 90%;
  color: #fff;
}

.customCheckbox.customCheckboxChecked span {
  display: block;
}


.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
	background: #E40571;
    padding: 0px;
    font-weight: 300;
    font-size: 16px;
    height: 55px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    padding: 15px;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background:#a30652!important;
    
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

label {
	font-weight: 300;
	font-family: "soleil", sans-serif
}


.loggin-disclaimer {
	width: 350px;
	margin: auto;
	padding: 0px 0px 0px 0px;
}
